@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.zoneMap {
    width: 100%;
    height: 70vh;
    overflow-y: hidden;

    @include tablet {
        height: 95vh;
    }

    // Dummy Data for Mapbox and its size
    &__dummy-mapbox {
        width: 100%;

        border-radius: 8px;

        @include tablet {
            height: 95vh;
        }
    }
}

.mapboxgl-canvas {
    border-radius: 10px;
}