@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

// Footer Component
.footer {
    width: 100%;
    background-color: rgb(175, 175, 175);
    padding: $mobile-padding;
    @include flex();
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    // Ontario Text and Logo Container
    &__ont-container {
        @include flex();
        justify-content: center;
        text-align: center;

        @include tablet {
            width: 70%;
            justify-content: flex-start;
        }
    }

    // Text message for notice
    &__message {
        font-size: 11px;
        padding: 0 $mobile-padding;

        @include tablet() {
            font-size: 13px;
            width: 50%;
        }
    }

    // Ontario Logo size
    &__ont-logo {
        width: 100%;
        max-width: 240px;
        padding: 0 $mobile-padding;
    }

    // Container for git and linked in logo
    &__my-container {
        @include flex();
        justify-content: center;
        
        @include tablet {
            width: 30%;
        }
    }

    // Git and Linked in logo
    &__my-logo {
        width: 28px;
        margin: 0 $mobile-padding;
    }
}