@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

// Footer Component
.footer {
    width: 100%;
    background-color: rgb(175, 175, 175);
    padding: $mobile-padding;
    @include flex();
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    // Ontario Text and Logo Container
    &__ont-container {
        @include flex();
        justify-content: center;
        text-align: center;

        @include tablet {
            width: 100%;
        }
    }

    // Text message for notice
    &__message {
        font-size: 11px;
        padding: 0 $mobile-padding;

        @include tablet() {
            font-size: 13px;
            width: 50%;
        }
    }

    // Ontario Logo size
    &__ont-logo {
        width: 100%;
        max-width: 180px;
        padding: 0 $mobile-padding;
        padding-top: $mobile-padding;
        align-self: flex-end;
    }
}